*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Netflix;
    src: url(fonts/NetflixSans-Bold.otf);
}

.container{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagens/background.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 80%;
    background-color: black;
    height: 100vh;
}

body{
    font-family: Netflix;
    
    margin: 0;
    padding: 0;
    
}

header{
    display: flex;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
}

nav{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.title-header{
    color: #E50914;
    font-size: xx-large;
}

.enter{
    border-radius: 5px;
    text-align: center;
    width: 7%;
    background-color: #E50914;
    color: white;
    padding:1px;
    font-size: 20px;
}

.h1-container{
    font-size: 48px;
}

.principal{
   display: flex;
    flex-direction: column;
    /* 
    width: 50%;
    margin-left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%); */
    text-align: center;
    line-height: 50px;
    margin-top: 300px;
    margin-bottom: 110px;
}

.email-input {
    color: white;
    width: 70%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; 
    background:linear-gradient(rgba(124, 124, 124, 0.1), rgba(0, 0, 0, 0.8))
}

.email{
    width: 56%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.vamos{
    background-color: #E50914;
    padding-top: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.ad{
    display: flex;
    width: 100%;
    height: 144px;
    justify-content: center;
    margin-bottom: ;
}

.ad-retangle{
    width: 90%;
    height: 110px;
    background-color: lightcoral;
    margin: auto;
}

.secundario{
    display: flex;
    flex-direction: column;
    
}